<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="StoredProcedureXML" value="bis_KreirajRacunTiskarXML"/>
    <add key="FilePath" value="c:\temp\epps\"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    
  </appSettings>
  <connectionStrings>
    <add name="connString" connectionString="Data Source=3tav-sql\sql2012;Initial Catalog=DB_IS_ECE;User ID=sa;Password=prepozno;Trusted_Connection=No;Connection Timeout=999999;" providerName="System.Data.SqlClient;"/>
  </connectionStrings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
